* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(25, 25, 204);
}

body {
  background-color: #eee;
  padding: 5rem;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 6rem;
}

.accordion-container {
  width: 60rem;
}

.accordion {
  margin: 3rem 0;
}

.tab {
  overflow: hidden;
}

label {
  display: block;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 2rem 0;
  cursor: pointer;
}

.tab-title {
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.tab-content {
  max-height: 0;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.tab-content img {
  transition: all 0.3s ease-in-out;
  max-width: 30rem;
  scale: 0;
}

.tab-checkbox {
  display: none;
}

.tab-checkbox:checked ~ label .tab-content {
  margin: 2rem 0;
  max-height: 50rem;
}

.tab-checkbox:checked ~ label .tab-title {
  color: #333;
}

.tab-checkbox:checked ~ label .tab-content img {
  scale: 1;
}

.open-close {
  display: none;
  transition: all 0.5s;
}

.tab-checkbox:checked ~ label .tab-title .open-close {
  rotate: 180deg;
}

.tab-checkbox:checked ~ label:active {
  opacity: 0.5;
}

.tab-checkbox:checked ~ label:active .tab-title {
  color: rgb(25, 25, 204);
}

@media (hover: hover) {
  .accordion:hover .tab-title .open-close {
    display: block;
  }

  .accordion:hover .tab-title {
    color: #333;
  }
}
