html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  background-color: #eee;
  padding: 5rem;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 6rem;
}

.accordion-container {
  width: 60rem;
}

.accordion {
  margin: 3rem 0;
}

.tab-container {
  padding: 1rem 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.tab-title {
  font-size: 2.5rem;
}

.tab-content {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.tab-content img {
  width: 30rem;
}

.tab-checkbox {
  display: none;
}

.tab-checkbox:checked ~ .tab-title {
  color: red;
}
