* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #eee;
  padding: 5rem;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 6rem;
}

.accordion-container {
  width: 60rem;
}

.accordion {
  margin: 3rem 0;
}

.tab {
  overflow: hidden;
}

label {
  display: block;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 2rem 0;
  cursor: pointer;
}

.tab-title {
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.tab-content {
  max-height: 0;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.tab-content img {
  transition: all 0.5s ease-in-out;
  max-width: 30rem;
}

.tab-checkbox {
  display: none;
}

.tab-checkbox:checked ~ label .tab-content {
  margin: 2rem 0;
  max-height: 50rem;
}

.up {
  display: none;
  transition: all 0.5s ease-in-out;
}

.down {
  display: block;
  transition: all 0.5s ease-in-out;
}

.tab-checkbox:checked ~ label .tab-title .up {
  display: block;
}

.tab-checkbox:checked ~ label .tab-title .down {
  display: none;
}
